@media print {
    @page {
        size: letter;
        counter-increment: page;
    }
    h1:first-of-type {
        text-align: center !important;
        margin-top: 5em;
        margin-bottom: 2em !important;
    }
    @page :first {
        margin-left: 2.5cm;
        margin-right: 2.5cm;
    }
    @page :left {
        margin-left: 2cm;
        margin-right: 3cm;
        @bottom-left {
            content: counter(page);
        }
        @top-left {
            content: string(doctitle);
        }
    }
    @page :right {
        margin-left: 3cm;
        margin-right: 2cm;
        @bottom-right {
             content: counter(page);
        }
        @top-right {
            content: string(doctitle);
        }
    }
}

/* Navigation */

div#table-of-contents li {
    text-align: left;
}

/* Main Body Text */

p, li, dd {
    text-align: justify;
}

/* Headings */
h2 {
    border-top: 1px solid;
    page-break-before: always;
    string-set: sectitle content();
}

div.content div:nth-of-type(3) h2 {
    page-break-before: avoid;
}

/* Figures/Images */

img {
    max-width: 800px;
    height: auto;
}

div.figure {
    page-break-inside: avoid;
    text-align: center;
}

div.figure p {
    text-align: center;
    margin: 0em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

/* Tables */

table {
    margin-left: auto;
    margin-right: auto;
}

/* Captions */
/* copied from `table caption` and `.figure p` */

div.org-src-container label.org-src-name {
    font: italic 85%/1 arial, sans-serif;
}

/* Admonitions */

div.NOTE {
    margin: 1em;
    padding-left: 1em;
    border-left: 0.4em solid;
    border-color: darkblue;
}

div.NOTE > p::before {
    color: darkblue;
    font-weight: bold;
    content: 'ⓘ ';
}

/* MathJax */

mjx-container[jax="CHTML"] {
    font-size: 1.1em !important;
}

/* TOC */

div#list-of-tables > h2 {
    page-break-before: avoid;
    border-top: 0px;
}

div#list-of-listings > h2 {
    page-break-before: avoid;
    border-top: 0px;
}

div#footnotes h2.footnotes {
    page-break-before: avoid;
    border-top: 0px;
    display: block;
}

div.footdef sup {
    display: inline-block;
    width: 2em;
}

div.footpara {
    padding: 0px;
    margin-left: 1em;
    display:  inline-block;
}

p.footpara {
    margin-bottom: 0.4em;
    padding-top: 0px;
    padding-left: 0px;
}
